#left-sidebar {
  position: fixed;

  width: 240px;
  height: 100%;

  background-color: #f5f5f5;
  box-shadow: inset 0px 2px 2px #eeeeee;

  z-index: 4;
}

#modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.51;
  z-index: 3;
}
