
#left-sidebar {
  position: fixed;
  top: 0px;

  width: 240px;
  height: 100%;

  background-color: #f5f5f5;

  z-index: 4;
}

#title-left.leftsidebar-top {
  height: 56px;
  background-color: #ffffff;
  box-shadow: -3px 3px 3px #f2f2f2;
}

#left-sidebar.leftsidebar-deactive {
  left: -240px;
}

#left-sidebar.leftsidebar-show {
  left: 0px;
  animation-name: slide-from-left;
  animation-duration: .3s;
}

#left-sidebar.leftsidebar-hide {
  left: -240px;
  animation-name: slide-to-left;
  animation-duration: .3s;
}

@keyframes slide-from-left {
   0%   {left: -240px;}
   100% {left: 0px;}
}

@keyframes slide-to-left {
   0%   {left: 0px;}
   100% {left: -240px;}
}




#modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000000;
}

#modal-background.leftsidebar-show {
  left: 240px;
  animation-name: get-darker;
  animation-duration: .3s;
  opacity: 0.50;
  z-index: 3;
  visibility: visible;
}

#modal-background.leftsidebar-deactive {
  left: 0px;
  opacity: 0.0;
  z-index: 0;
  visibility: hidden;
}

#modal-background.leftsidebar-hide {
  left: 0px;
  animation-name: get-lighter;
  animation-duration: .3s;
  opacity: 0.0;
  z-index: 0;
  visibility: hidden;
}

@keyframes get-darker {
  0%    {opacity: 0; left: 0px;}
  100%  {opacity: 0.5; left: 240px}
}

@keyframes get-lighter {
  0%    {opacity: 0.5; left: 240px; z-index: 3; visibility: visible}
  99%  {opacity: 0; left: 0px; z-index: 3; visibility: visible}
  100%  {opacity: 0; left: 0px; z-index: 0; visibility: hidden}
}









.left-list-container {
  border-bottom: 1px solid #eeeeee;
  padding-top: 13px;
  padding-bottom: 12px;
}

.left-list-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.007px;
  color: #6c6c6c;
  padding: 8px 24px 8px 24px;
}

.left-list-item {
  // max-height: 30px;
  padding: 7px 0px 7px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-list-item-selected {
  // max-height: 30px;
  padding: 7px 0px 7px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dcdcdc;
}

.left-list-item span {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  line-height: 19px;
}

.left-list-item-selected span {
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  line-height: 19px;
}

.left-list-item-selected:hover {
  background-color: #d3d3d3;
}

.left-list-item:hover {
  background-color: #ebebeb;
}

.left-list-link {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-list-link img {
  height: 18px;
  margin-right: 24px;
}

.left-list-subname {
  margin-left: 24px;
}
