#video-index {
  height: 80%;
  margin: 24px 40px;
  min-width: 450px;
  max-width: 1284px;
}

#video-index-container {
  // margin: 0 auto;
}

.index-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

#video-index ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
}

#video-index li {
}

.video-thumbnail {
  margin: 25px 2px;
  display: flex;
  flex-direction: column;
  width: 210px;
}

.video-thumbnail-image {
  width: inherit;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  // margin: 40px 10px;
}

.video-thumbnail-details {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.video-thumb-title {
  padding: 7px 0px;
  color: black;
  font-size: 14px;
  width: inherit;
  height: 28px;

  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-thumb-title link {
  font-weight: 900;

}

.video-thumb-uploader {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 13px;
}

.video-thumb-views {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 13px;
}
