#video-index {
  min-height: 100%;
  height: 100%;
  margin: 24px 40px;
  min-width: 450px;
  max-width: 1284px;
}

#video-index-container {
}

.index-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

#video-index ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
}

#video-index li {
}

.video-thumbnail {
  margin: 25px 2px;
  display: flex;
  flex-direction: column;
  width: 210px;
}

.video-thumbnail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.video-thumbnail-image {
  width: inherit;
  height: 118px;
}

.video-thumbnail-details {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.video-thumb-title {
  margin-top: 8px;
  margin-bottom: 6px;
  line-height: 16px;
  max-height: 32px;
}

.video-thumb-title-link {
  padding: 7px 0px;
  color: #111111;
  font-size: 14px;
  font-weight: 500;

  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.video-thumb-uploader {
  margin-bottom: 3px;
}

.video-thumb-uploader-link {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 13px;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-thumb-views {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 13px;
}
