#video-upload-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  padding: 15px;
  margin: 14px;
  max-width: 743px;
  background-color: #ffffff;
  box-shadow: 2.5px 2.5px 3px #f2f2f2, -2.5px -2.5px 3px #f2f2f2;
}

#video-upload-card {
  width: 90%;
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-clickable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#upload-clickable:hover .upload-pic-not-hovering {
  width: 119px;
  height: 81px;

  background: url(upload-button-red.png);
  background-size: contain;
}

.upload-pic-not-hovering  {
  width: 119px;
  height: 81px;

  background: url(upload-button.png);
  background-size: contain;
}

.upload-pic-not-hovering:hover  {
  width: 119px;
  height: 81px;

  background: url(upload-button-red.png);
  background-size: contain;
}

.upload-pic-hovering  {
  width: 119px;
  height: 81px;

  background: url(upload-button-red.png);
  background-size: contain;
}

#video-upload-title {
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  padding: 15px 13px 9px 13px;
}

#video-upload-subtitle {
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  padding: 7px;
}

#upload-hidden-input {
  display: none;
}

#upload-instructions-card {
  width: 90%;
  margin-top: 0px;
}

#upload-instructions-title {
  color: #444444;
  font-weight: 500;
  font-size: 12px;
}

#upload-instructions {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
}


// second page
#video-upload-details {
  width: 90%;
  height: 385px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#post-file-form {
  display: flex;
  flex-direction: column;
}

.upload-form-field {
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #d3d3d3;
  padding: 5px 10px 6px 10px;
  margin-bottom: 15px;
}

#upload-form-title {
  margin-top: 15px;
  color: #333333;
}

#upload-form-description {
  width: 425px;
  max-width: 425px;
  min-width: 425px;
  max-height: 247px;
  line-height: 20px;

  color: #2E2E2E;
}

.upload-form-field:hover {
  border: 1px solid #b9b9b9;
}

.upload-form-field:focus {
  border: 1px solid #1578c3;
}
