#video-show {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
}

// first detail

.video-detail-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

#first-detail-top {
  display: flex;
  flex-direction: column;
}

#first-detail-bottom {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0px;
}

#video-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}

#video-views {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #707070;
}

#likes-shares {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#likes-shares img {
  height: 18px;
  width: 18px;
}

.highlight-circle-small {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 36px;
  width: 36px;
  transition: 200ms;
  cursor: pointer;
}

.highlight-circle-small:active {
  background-color: #DADADA;
}

#likes-shares span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.007px;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 8px;
}

.like-text {
  color: #909090;
}

.share-text {
  color: #909090;
}

// second detail

#second-detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#second-detail-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#channel-and-published {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 14px;
}

#publisher {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #0a0a0a;
}

#published-on {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #707070;
}

.red-button {
  background-color: #fc0d1b;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 16px;
  margin: 0px 4px;
  border-radius: 1px;
}

#second-detail-bottom {
  margin-top: 12px;
  margin-left: 64px;
  margin-bottom: 18px;
}

#video-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #111111;
}
