
#up-next-container {
  height: 100%;
  width: 402px;
  // max-width: 402px;
  // min-width: 324px;
  // background-color: #EEEEEE;
  border: 1px solid lightblue;
  margin-top: 24px;
  margin-right: 24px;
}
