#video-comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: none;
}

#comments-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

#comment-count {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
  margin-right: 32px;
}

#sort-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #707070;
}

#sort-button:hover {
  background-color: #dbdbdb;
}

#sort-img {
  height: 12px;
  margin-right: 12px;
}

#new-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#new-comment-form {
  width: 100%;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

#new-comment-field {
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #111111;
}

#new-comment-field:focus {
  border-bottom: 2px solid #111111;
}

#comment-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.comment-button {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 16px;
  margin: 8px;
}

#new-comment-submit {
  color: #ffffff;
}

.comment-submit-enabled:active {
  background-color: #306CBF;
  transition: 0.3s;
}

.comment-submit-disabled {
  background-color: #D5EAF9;
}
.comment-submit-enabled {
  background-color: #1363D1;
}

#new-comment-cancel {
  color: #414141;
  background-color: #ffffff;
}

#new-comment-cancel:active {
  background-color: #e1e1e1;
  transition: 0.3s;
}

#new-comment-cancel:hover {
  font-weight: 500;
}

.hidden-button {
  display: none;
}


// comment list

.comment-ul {
  margin-top: 18px;
}

.single-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 22px;
}

.single-comment-user-image {

}

.single-comment-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}

.single-comment-user-and-time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.single-comment-username {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.single-comment-created-time {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  color: #606060;
  margin-left: 4px;
}

.single-comment-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: #111111;
  margin-bottom: 4px;
}

.comment-like-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.single-comment-like-container {
  position: relative;
  left: -8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.highlight-circle-smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.comment-like-thumb {
  height: 16px;
  width: 16px;
}

.comment-dislike-thumb {
  height: 16px;
  width: 16px;
  margin-left: 8px;
}

.comment-like-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #707070;
}
