/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: 'Roboto', arial, sans-serif;
   font-style: normal;
   font-weight: 400;
 }

 #session-window {
   min-height: 500px;
   width: 450px;
   box-sizing: border-box;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   line-height: 1.4286;
   display: flex;
   flex-direction: column;
   padding: 48px 40px 36px 40px;

   border-radius: 7px;
   box-shadow: 0.5px 2px 2px #b1b1b1, -0.1px 0px 2px #b1b1b1;
 }

 #session-window img {
   position: relative;
   left: 50%;
   transform: translate(-50%);
   width: 74px;
   display: flex;
   justify-content: center;
 }

 #session-window .title {
   display: flex;
   justify-content: center;
   font-size: 24px;
   padding-top: 16px;
   line-height: 1.3333;
 }

 #session-window .subtitle {
   display: flex;
   justify-content: center;
   padding-top: 8px;
   line-height: 1.5;
 }

.session-form {
  padding: 24px 0px 24px 0px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .inputs {
    display: flex;
    flex-direction: column;
  }

    .session-form label {
      font-size: 12px;
      color: #1a73e8;
      padding-top: 12px;
      padding-bottom: 8px;
    }

    input {
      box-sizing: content-box;
      font-size: 16px;
      font-weight: 400;
      padding-left: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #e0e0e0;
    }

      input:focus {
        outline: none;
        border-bottom: 2px solid #1F6DE8;
        transition-property:
      }

  .errors {
    font-size: 12px;
    padding-top: 8px;
    color: #D61619;
  }

  .demo-login {
    font-size: 14px;
    color: #62666b;
    display: flex;
    flex-direction: column;
  }

  .demo-span {
    color: #1a73e8;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.25px;
    display: inline-block;
    line-height: 1.4286;
  }

  .session-form .buttons {
    display: flex;
    justify-content: space-between;
  }

    .blue-button {
      height: 36px;
      border: none;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: .25px;
      line-height: 20px;
      min-width: 88px;
      color: white;
      background-color: #1a73e8;
      border-radius: 5px;
    }

    .blue-button:hover {
      box-shadow: 1px 1px 2px #9FC1F7, -1px 0px 2px #9FC1F7;
      background-color: #2C75E6;
      transition: 0.2s;
    }

    .button-link {
      /* margin: 8px 8px; */
      font-weight: 500;
      color: #1a73e8;
      line-height: 1.4286;

      height: 36px;
      border: none;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: .25px;
      min-width: 88px;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 5px;
      padding-left: 11px;
      padding-right: 11px;
      position: relative;
      left: -11px;
    }

      .button-link:hover {
        background-color: #f6fafe;
        transition: 0.2s;
      }
