/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Roboto', arial, sans-serif;
  font-style: normal;
  font-weight: 100;
}

#session-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form {
  box-sizing: inherit;
  min-height: 500px;
  overflow-y: auto;
  -webkit-box-flex: 1;
  /* flex-grow: 1; */
  line-height: 1.4286;
  width: 450px;
  border: 1px solid black;
  border-radius: 7px;
  /* display: flex; */
  justify-content: : center;
  padding: 48px 40px 36px
}

.button-link {
  text-decoration: none;
}
