/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 00reset
 *= require_self
 *= require 01login-form
 *= require 02titlebar
 *= require 03leftsidebar
 *= require 04videoindex
 *= require 05videoupload
 *= require 06videoshow
 *= require 07rightsidebar
 *= require 08videoplayer
 *= require 09comments
 */

* {
 font-family: 'Roboto', arial, sans-serif;
 font-style: normal;
 font-weight: 400;
}

html {
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
}

#main-content {
  position: relative;
  top: 56px;
  min-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
}

.blue-button {
  height: 36px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: .25px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  color: white;
  background-color: #1a73e8;
  border-radius: 5px;
}

.blue-button:hover {
  box-shadow: 1px 1px 2px #9FC1F7, -1px 0px 2px #9FC1F7;
  background-color: #2C75E6;
  transition: 0.2s;
}

.button-link {
  height: 36px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: .25px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  color: #1a73e8;
  border-radius: 5px;

  line-height: 1.4286;

  text-decoration: none;
  padding-left: 11px;
  padding-right: 11px;
  position: relative;
  left: -11px;
}

.button-link:hover {
  background-color: #f6fafe;
  transition: 0.2s;
}


.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  // background-color: #5C4039;
  width: 48px;
  height: 48px;
  font-size: 20px;
  border-radius: 24px;
  margin: 1px;
  min-width: 48px;
}

.overlay-menu-inactive {
  position: absolute;
  display: none;
}

.overlay-menu-active {
  position: absolute;
  top: 40px;
  left: 0px;

  display: flex;
  flex-direction: column;

  box-shadow: 0.5px 2px 2px #b1b1b1, -0.1px 0px 2px #b1b1b1;
  padding: 8px 0px;
  background-color: #ffffff;
  z-index: 3;
}

.overlay-menu-modal {
  width: 100vh;
  height: 100vh;
  border: 2px solid black;
  background-color: blue;

  z-index: 2;

}

.overlay-menu-active button {
  // width: 100%;
  padding: 0px 16px;
  height: 48px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #111111;
}

.overlay-menu-active button:hover {
  background-color: #eeeeee;
}
